<div class="row" >
    <div class="col s12">
        <ul class="tabs" tabs>
            <li class="tab col s3"><a class="active" href="#posterTab">Poster</a></li>
            <li class="tab col s3"><a href="#annalsTab">Annales</a></li>
            <li class="tab col s3"><a href="#ticketingTab">Billeterie</a></li>
            <li class="tab col s3"><a href="#assoTab">Compte asso</a></li>
            <li class="tab col s3"><a href="#locationTab">Location</a></li>
        </ul>
    </div>
    <div id="posterTab" class="col s12">Test 1</div>
    <div id="annalsTab" class="col s12">Test 2</div>
    <div id="ticketingTab" class="col s12">Test 3</div>
    <div id="assoTab" class="col s12">Test 4</div>
    <div id="locationTab" class="col s12">Test 5</div>
</div>

