<div class="container">
    <h3>Qu'est ce que le polar ?</h3>
    <div class="col s6 l8 m5">
        <div class="card-panel white accent-3 hoverable">
            Le Polar est une association loi 1901, créée en 1978 par trois visionnaires:
            <br>
            <ul>
                <li><b>Fabrice GIRARD</b></li>
                <li><b>Philippe PIERRARD</b></li>
                <li><b>Xavier DUPEYRON.</b></li>
            </ul>
            De son vrai nom <b>Promotion des Œuvres Livresques Au Rabais</b> (quel subtil jeu de mot), le Polar est
            entièrement géré par des étudiants. Le Bureau actuel contient six personnes, auxquelles s'ajoutent les
            responsables des différents secteurs. Le détail de la Dream Team du Polar est disponible dans la rubrique <a
                href ng-click="goTeam()">"L'équipe"</a> dans le menu en haut à droite.
            </a>
        </div>
    </div>
    <h3>Quel est son but ?</h3>
    <div class="col s6 l8 m5">
        <div class="card-panel white accent-3 hoverable">
            Son but est de centraliser les achats des étudiants pour obtenir les prix les plus bas possibles pour du
            matériel de bonne qualité, dans des domaines aussi variés que les impressions, les fournitures, les
            accessoires informatique, les produits dérivés UTC...
            <br><br>
            Le Polar ne propose pas les prix les plus bas du marché, tu trouveras toujours moins cher sur Internet. Il
            s'efforce de proposer le prix le plus bas sur la gamme proposée, c'est à dire des produits de bonne qualité.
            <br><br>
            Le Polar, c'est aussi le service à l'étudiant, avec une prise en charge en garantie immédiate et un
            remboursement rapide.
            Au Polar, tu peux également commander tes annales d'examens, louer un vidéoprojecteur, acheter tes places
            pour les concerts, ESTU, et différents événements organisés par les assos de l'UTC, louer les livres de
            langues.... et plein d'autres choses !
            Sache dès à présent que si tu intègres le Polar, tu auras droit à des <b>avantages non négligeables</b> :
            <ul>
                <li><b>accès au local entre 8h et 20h</b></li>
                <li><b>priorité des impressions personnelles</b></li>
                <li><b>50% d'abattement sur les impressions personnelles</b></li>
                <li><b>gratuité d'utilisation du matériel de l'association</b></li>
            </ul>
            Pour intégrer le Polar, envoie un mail à <a href ng-click="goContact()">polar@assos.utc.fr</a> !
        </div>
    </div>
</div>