doctype html
html(ng-app='polarApplication')
head
meta(charset='utf-8')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(rel='icon', type='image/ico', href='application/pictures/favicon.ico')
title Le Polar
script(type='text/javascript', src='application/node_modules/jquery/dist/jquery.js')
link(type='text/css', rel='stylesheet', href='application/node_modules/materialize-css/dist/css/materialize.css', media='screen,projection')
link(type='text/css', rel='stylesheet', href='application/node_modules/angucomplete-master/angucomplete.css', media='screen,projection')
link(type='text/css', rel='stylesheet', href='application/styles/css/global.css')
script(type='text/javascript', src='application/node_modules/angular/angular.js')
script(type='text/javascript', src='application/node_modules/angular-materialize/src/angular-materialize.js')
script(type='text/javascript', src='application/node_modules/materialize-css/dist/js/materialize.js')
script(type='text/javascript', src='application/node_modules/angular-ui-router/release/angular-ui-router.js')
// pages
script(src='application/views/app.js')
script(src='application/views/home/home.js')
script(src='application/views/products/products.js')
script(src='application/views/services/service.js')
script(src='application/views/about/about.js')
script(src='application/views/contact/contact.js')
script(src='application/views/contact/team.js')
script(src='application/views/annals/list.js')
script(src='application/views/annals/order.js')
script(src='application/views/users/users.js')
script(src='application/views/annals/upload.js')
script(src='application/views/annals/annals.js')
script(src='application/node_modules/ng-file-upload/dist/ng-file-upload.js')
script(src='application/node_modules/ng-file-upload/dist/ng-file-upload-all.js')
script(src='application/node_modules/ng-file-upload/dist/ng-file-upload-shim.js')
script(src='application/node_modules/angucomplete-master/angucomplete.js')
script(src='application/views/commands/commands.js')
script(src='application/services/services.js')
body
    base(href="/")
div(ui-view='')
#username(value=usernameFromXml)
#toDisplay(value=toDisplayFromXml)
