doctype transitional
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            span #{mail} a écrit quelque chose :
            span #{text}
