<div class="container">
    <div class="row">
        <div class="col s12 m12 l8">
            <h3>
                Les news du Polar
            </h3>
            <div class="card hoverable">
                <div class="card-content">
                    <h4>
                        Réouverture du Polar
                    </h4>
                    <p>
                        Bonjour à tous, nous communiquons à propos de notre fermeture d’aujourd’hui (le 30 Mars).

                        Dans la nuit du 29 au 30 Mars, une somme importante a été dérobée dans la caisse du POLAR.
                        Afin de mieux gérer cet incident, le POLAR a été fermé.

                        Il sera ouvert demain matin (jeudi), dès 9h dans la mesure du possible et de manière certaine
                        l'après midi !

                        Suite à cette incident, nous ne pouvons plus accepter les paiements en espèces. La carte bleue
                        (à partir de 8 cts), Pay’UTC, les chèques ou les comptes assos sont les seuls moyens acceptés.
                        Tout ceci est temporaire le temps que certaines mesures soient mises en place.

                        Nous nous excusons de la gêne occasionnée par cette fermeture exceptionnelle et vous remercions
                        de votre compréhension.
                    </p>
                </div>
            </div>
            <div class="card hoverable">
                <div class="card-action">
                    <h4>
                        Réouverture du Polar
                    </h4>
                    <p>
                        Bonjour à tous, nous communiquons à propos de notre fermeture d’aujourd’hui (le 30 Mars).

                        Dans la nuit du 29 au 30 Mars, une somme importante a été dérobée dans la caisse du POLAR.
                        Afin de mieux gérer cet incident, le POLAR a été fermé.

                        Il sera ouvert demain matin (jeudi), dès 9h dans la mesure du possible et de manière certaine
                        l'après midi !

                        Suite à cette incident, nous ne pouvons plus accepter les paiements en espèces. La carte bleue
                        (à partir de 8 cts), Pay’UTC, les chèques ou les comptes assos sont les seuls moyens acceptés.
                        Tout ceci est temporaire le temps que certaines mesures soient mises en place.

                        Nous nous excusons de la gêne occasionnée par cette fermeture exceptionnelle et vous remercions
                        de votre compréhension.
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l4">
            <h3>
                Alertes
            </h3>
            <div class="card hoverable">
                <div class="card-content">
					<span class="card-title col s12">
					</span>
                    <p>
                        Le nouveau site du polar arrive bientôt !<br><br>
                        Le but de la nouvelle application est de vous proposer un site design, modern qui vous permette de naviguer depuis un mobile, une tablette, un pc.
                    </p>

                </div>
            </div>
            <h3>
                Horaire
            </h3>
            <div class="card hoverable">
                <div class="card-content">
                    Coming Soon
                </div>
            </div>
        </div>
    </div>
</div>