doctype html
html(ng-app='polarApplication')
head
meta(charset='utf-8')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(rel='icon', type='image/ico', href='app/pictures/favicon.ico')
title Le Polar
script(type='text/javascript', src='app/node_modules/jquery/dist/jquery.js')
link(type='text/css', rel='stylesheet', href='app/node_modules/materialize-css/dist/css/materialize.css', media='screen,projection')
link(type='text/css', rel='stylesheet', href='app/styles/css/global.css')
script(type='text/javascript', src='app/node_modules/angular/angular.js')
script(type='text/javascript', src='app/node_modules/angular-materialize/src/angular-materialize.js')
script(type='text/javascript', src='app/node_modules/materialize-css/dist/js/materialize.js')
script(type='text/javascript', src='app/node_modules/angular-ui-router/release/angular-ui-router.js')
// pages
script(src='app/views/app.js')
script(src='app/views/home/home.js')
script(src='app/views/products/products.js')
script(src='app/views/services/service.js')
script(src='app/views/about/about.js')
script(src='app/views/contact/contact.js')
script(src='app/views/commands/commands.js')
script(src='app/services/services.js')
body
div(ui-view='')