<div class="">
	<div class="row">
		<div class="col s12 m12 l6 offset-l1">			
			<div class="card grey lighten-4 z-depth-1">
				<div class="card-content">
					<span class="card-title col s12">
						<h3>
							Les news du Polar
						</h3>
					</span>
					<br>
					<br>
					<br>
				</div>				
				<div class="card-action">
					<h4>
						Réouverture du Polar
					</h4>   
					<p>
						Bonjour à tous, nous communiquons à propos de notre fermeture d’aujourd’hui (le 30 Mars).

						Dans la nuit du 29 au 30 Mars, une somme importante a été dérobée dans la caisse du POLAR. 
						Afin de mieux gérer cet incident, le POLAR a été fermé.

						Il sera ouvert demain matin (jeudi), dès 9h dans la mesure du possible et de manière certaine l'après midi !

						Suite à cette incident, nous ne pouvons plus accepter les paiements en espèces. La carte bleue (à partir de 8 cts), Pay’UTC, les chèques ou les comptes assos sont les seuls moyens acceptés.
						Tout ceci est temporaire le temps que certaines mesures soient mises en place.

						Nous nous excusons de la gêne occasionnée par cette fermeture exceptionnelle et vous remercions de votre compréhension.
					</p>          
				</div>
				<div class="card-action">
					<h4>
						Réouverture du Polar
					</h4>   
					<p>
						Bonjour à tous, nous communiquons à propos de notre fermeture d’aujourd’hui (le 30 Mars).

						Dans la nuit du 29 au 30 Mars, une somme importante a été dérobée dans la caisse du POLAR. 
						Afin de mieux gérer cet incident, le POLAR a été fermé.

						Il sera ouvert demain matin (jeudi), dès 9h dans la mesure du possible et de manière certaine l'après midi !

						Suite à cette incident, nous ne pouvons plus accepter les paiements en espèces. La carte bleue (à partir de 8 cts), Pay’UTC, les chèques ou les comptes assos sont les seuls moyens acceptés.
						Tout ceci est temporaire le temps que certaines mesures soient mises en place.

						Nous nous excusons de la gêne occasionnée par cette fermeture exceptionnelle et vous remercions de votre compréhension.
					</p>          
				</div>
			</div>				
		</div>
		<div class="col s12 m12 l4 push-l7" pushpin pushpin-top="0" pushpin-offset="70px" pushpin-bottom="Infinity">
			<div class="card orange darken-3 z-depth-1" >
				<div class="card-content" >
					<span class="card-title col s12">
						<h3>
							Alerte
						</h3>
					</span>
					<p> Attention! Un nouveau site bientôt en prod!
						Stay tuned!
					</p>

				</div>				
			</div>
			<div class="card grey lighten-4 z-depth-1">
				<div class="card-content" >
					<span class="card-title col s12">
						<h3>
							Horaire
						</h3>
					</span>
					<h4>Coming Soon!</h4>
				</div>				
			</div>		
		</div>
	</div>
</div>