<div class="container">
    <br>
    <h3>Mes commandes</h3>
    <br>
    <div class="row">
        <ul class="collapsible popout l8 offset-l2" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active"><i class="material-icons">class</i>Posters</div>
                <div class="collapsible-body"><div class="container"><h3>Vos posters</h3><p>Lorem ipsum dolor sit amet.</p></div></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">archive</i>Annales</div>
                <div class="collapsible-body">
                    <div class="container">
                        <h3>Vos annales</h3>
                        <div ng-repeat="command in annalesUserCommandes">
                            <h5>
                                Commande du : {{command.date | date:'dd/MM/yyyy'}}
                            </h5>
                            <table class="centered highlight">
                                <thead>
                                    <tr>
                                        <th data-field="name">Nom UV</th>
                                        <th data-field="type">Type</th>
                                        <th data-field="saison">Semestre</th>
                                        <th data-field="year">Année</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="co in command.p">
                                        <td>
                                            {{co.name}}
                                        </td>
                                        <td>
                                            {{co.type}}
                                        </td>
                                        <td>
                                            {{co.saison}}
                                        </td>
                                        <td>
                                            {{co.year}}
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">transfer_within_a_station</i>Locations</div>
                <div class="collapsible-body"><div class="container"><h3>Vos locations</h3><p>Lorem ipsum dolor sit amet.</p></div></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">import_contacts</i>Manuels</div>
                <div class="collapsible-body"><div class="container"><h3>Vos manuels</h3><p>Lorem ipsum dolor sit amet.</p></div></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">style</i>Billets</div>
                <div class="collapsible-body"><div class="container"><h3>Vos billets</h3><p>Lorem ipsum dolor sit amet.</p></div></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">layers</i>Plasitifications</div>
                <div class="collapsible-body"><div class="container"><h3>Vos Plasitifications</h3><p>Lorem ipsum dolor sit amet.</p></div></div>
            </li>
        </ul>
    </div>
</div>