<div class="container">
    <h2 class="center-align">Nous contacter</h2>
    <form  id="contactForm" name="contactForm" novalidate>
        <div class="input-field col m6 s12 l12">
            <input id="subject" name="subject" type="text" class="validate" required ng-model="subject">
            <label for="subject">Sujet de votre message</label>
        </div>
        <div class="input-field col m6 s12 l12">
            <input id="mail" name="mail" type="email" class="validate" required ng-model="mail">
            <label for="mail">Votre Email</label>
        </div>
        <div class="input-field col s12 l12">
            <textarea id="message" class="materialize-textarea" name="text" required ng-model="text"></textarea>
            <label for="message">Message</label>
        </div>
        <button class="btn waves-effect waves-light right" type="submit" name="sendMail" ng-click="contactForm.$valid && sendMail()" ng-class="{disabled:contactForm.$invalid==true}">Envoyer
            <i class="material-icons right">send</i>
        </button>
    </form>
    <!--<form class="col s12 l12" name="contactForm">
        <div class="row">
            <div class="col l6">
                <div class="row">
                    <div class="input-field col m6 s12 l12">
                        <input id="object" name="text" type="text" class="validate" ng-required="required">
                        <label for="object">Sujet de votre message</label>
                    </div>
                    <div class="input-field col m6 s12 l12">
                        <input id="email" name="mail" type="email" class="validate" ng-required="required">
                        <label for="email">Email</label>
                    </div>
                </div>
            </div>
            <div class="col l6">
                <div class="card-panel teal white-text" style="min-height:130px">
                    <div class="card-content">
                        <span class="card-title"><h5>Comment nous contacter?</h5></span>
                        <p>Envoyez nous un mail via le formulaire de contact ci-dessous ou passez nous voir au local FE008 ! Si vous avez un compte sur le site du Polar, connectez-vous pour accéder directement à la Hotline.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l12">
                    <textarea id="message" class="materialize-textarea" name="text" ng-required="required" ng-model="text"></textarea>
                    <label for="message">Message</label>
                </div>
            </div>
            <input class="btn " value="Envoyer" type="submit" ng-click="sendMail()" ng-disabled="true">
            </input>
            <div class="divider"></div>
            <div class="row">
                <div class="col m12">
                    <p class="right-align">

                    </p>
                </div>
            </div>
    </form>-->
</div>

