<div class="container">
    <div class="s10 offset-s1 col">
        <div class="row">
            <div class="col m4 animated fadeInUp" ng-repeat="u in users">
                <div class="card hoverable teal lighten-1 white-text" ng-if="u.accountType == 'admin' || u.accountType == 'membre'">
                    <div class="card-image waves-effect waves-light">
                        <img class="responsive-img circle center-align" src="{{u.profilePic}}">
                    </div>
                    <div class="card-content row ">
                        <div class="truncate "><h4>{{u.firstname}} {{u.lastname}}</h4></div>
                        <div class="truncate "><h6>{{u.mail}}</h6></div>
                    </div>
                </div>
            </div><!--/card-->
        </div>
    </div>
</div>
