<div class="row" >
    <div class="col s12">
        <ul class="tabs" tabs>
            <li class="tab col s3"><a href="#impressionTab">Impressions</a></li>
            <li class="tab col s3"><a href="#furniturTab">Fournitures</a></li>
            <li class="tab col s3"><a href="#ITProvisionTab">Informatique</a></li>
        </ul>
    </div>
    <div id="impressionTab" class="col s12">Test 1</div>
    <div id="furnitureTab" class="col s12">Test 2</div>
    <div id="ITProvisionTab" class="col s12">Test 3</div>
</div>

