<div class="row" >
    <div class="col s12">
        <ul class="tabs" tabs>
            <li class="tab col s3"><a href="#impressionTab">Impressions</a></li>
            <li class="tab col s3"><a href="#furnitureTab">Fournitures</a></li>
            <li class="tab col s3"><a href="#ITProvisionTab">Informatique</a></li>
        </ul>
    </div>
    <div id="impressionTab" class="col s12">
        <br>
        <div class="row" >
            <div class="s10 offset-s1 col">
                <div class="row">
                    <div ng-if="{{products.length > 0}}" class="col m4 animated fadeInUp"
                         style="-webkit-animation-duration:300ms"
                         ng-repeat="p in products">
                        <div class="card teal lighten-1" ng-if="p.category == 'impression'">
                            <div class="card-image waves-effect waves-light">
                                <img ng-click="editProduct(p.name,p.price,p.onSale)" class="responsive-img" src="{{p.img}}">
                            </div>
                            <div class="card-content valign-wrapper">
                                <span class="col 3 truncate valign"><h5>{{p.name}}</h5></span>
                                <span class="col 4 valign"><h5>{{p.price}}€</h5></span>
                                <span class="col 5 valign" ng-if="!p.onSale"><i class="material-icons">block</i></span>
                                <span class="col 5 valign" ng-if="p.onSale"><i class="material-icons">work</i></span>
                            </div>
                            <div class="row">
                                <div class="col m2 hide-on-small-only">&nbsp;</div>
                                <div class="col m2 s6 center-align"><a href=""><i class="white-text small mdi-action-face-unlock"></i></a></div>
                                <div class="col m2 s6 center-align"><a href=""><i class="white-text small mdi-action-highlight-remove"></i></a></div>
                                <div class="col m2 s6 center-align"><a href=""><i class="white-text small mdi-action-alarm-on"></i></a></div>
                                <div class="col m2 s6 center-align"><a href=""><i class="white-text small mdi-action-account-balance"></i></a></div>
                                <div class="col m2 .hide-on-small-only">&nbsp;</div>
                            </div>
                        </div><!--/card-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="furnitureTab" class="col s12">
        <br>
        <div class="row" >
            <div class="s10 offset-s1 col">
                <div class="row">
                    <div ng-if="{{products.length > 0}}" class="col m4 animated fadeInUp"
                         style="-webkit-animation-duration:300ms"
                         ng-repeat="p in products">
                        <div class="card teal lighten-1" ng-if="p.category == 'furniture'">
                            <div class="card-image waves-effect waves-light">
                                <img ng-click="editProduct(p.name,p.price,p.onSale)" class="responsive-img" src="{{p.img}}">
                            </div>
                            <div class="card-content valign-wrapper">
                                <span class="col 3 truncate valign"><h5>{{p.name}}</h5></span>
                                <span class="col 4 valign"><h5>{{p.price}}€</h5></span>
                                <span class="col 5 valign" ng-if="!p.onSale"><i class="material-icons">block</i></span>
                                <span class="col 5 valign" ng-if="p.onSale"><i class="material-icons">work</i></span>
                            </div>
                            <div class="row">
                                <div class="col m2 hide-on-small-only">&nbsp;</div>
                                <div class="col m2 s6 center-align"><a href=""><i class="white-text small mdi-action-face-unlock"></i></a></div>
                                <div class="col m2 s6 center-align"><a href=""><i class="white-text small mdi-action-highlight-remove"></i></a></div>
                                <div class="col m2 s6 center-align"><a href=""><i class="white-text small mdi-action-alarm-on"></i></a></div>
                                <div class="col m2 s6 center-align"><a href=""><i class="white-text small mdi-action-account-balance"></i></a></div>
                                <div class="col m2 .hide-on-small-only">&nbsp;</div>
                            </div>
                        </div><!--/card-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ITProvisionTab" class="col s12">
        <br>
        <div class="row" >
            <div class="s10 offset-s1 col">
                <div class="row">
                    <div ng-if="{{products.length > 0}}" class="col m4 animated fadeInUp"
                         style="-webkit-animation-duration:300ms"
                         ng-repeat="p in products">
                        <div class="card teal lighten-1" ng-if="p.category == 'ITProvision'">
                            <div class="card-image waves-effect waves-light">
                                <img ng-click=" user.role == 'admin' && editProduct(p.name,p.price,p.onSale)" class="responsive-img" src="{{p.img}}">
                            </div>
                            <div class="card-content valign-wrapper">
                                <span class="col 3 truncate valign"><h5>{{p.name}}</h5></span>
                                <span class="col 4 valign"><h5>{{p.price}}€</h5></span>
                                <span class="col 5 valign" ng-if="!p.onSale"><i class="material-icons">block</i></span>
                                <span class="col 5 valign" ng-if="p.onSale"><i class="material-icons">work</i></span>
                            </div>
                            <div class="row">
                                <div class="col m2 hide-on-small-only">&nbsp;</div>
                                <div class="col m2 s6 center-align"><a href=""><i class="white-text small mdi-action-face-unlock"></i></a></div>
                                <div class="col m2 s6 center-align"><a href=""><i class="white-text small mdi-action-highlight-remove"></i></a></div>
                                <div class="col m2 s6 center-align"><a href=""><i class="white-text small mdi-action-alarm-on"></i></a></div>
                                <div class="col m2 s6 center-align"><a href=""><i class="white-text small mdi-action-account-balance"></i></a></div>
                                <div class="col m2 .hide-on-small-only">&nbsp;</div>
                            </div>
                    </div><!--/card-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" href="#createProductModal" modal>
        <i class="large material-icons">add</i>
    </a>
</div>

<div id="createProductModal" class="modal">
    <div class="modal-content">
        <h4>Création d'un produit</h4>
        <div class="input-field" >
            <div class="row">
                <i class="material-icons prefix">person</i>
                <input ng-model="name" id="icon_createName" type="string" placeholder="Le nom de votre produit" class="validate">
                <label for="icon_createName"></label>
            </div>
            <div class="row">
                <select class="" ng-model="select.value1" material-select watch>
                    <option value="" disabled selected>Choisir la catégorie</option>
                    <option value="impression">Impression</option>
                    <option value="furniture">Fourniture</option>
                    <option value="ITProvision">Informatique</option>
                </select>
            </div>
            <div class="row">
                <i class="material-icons prefix">euro_symbol</i>
                <input ng-model="price" id="icon_createPrice" type="number" placeholder="Saisissez le prix unitaire de votre produit" class="validate">
                <label for="icon_createPrice"></label>
            </div>
            <div class="row">
                <i class="material-icons prefix">block</i>
                <input ng-model="onSale" id="icon_createOnSale" type="checkbox" checked="{{onSale}}" class="validate">
                <label for="icon_createOnSale">L'article est-il disponible à la vente</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="saveProduct()" class=" modal-action modal-close waves-effect waves-green btn-flat" type="submit">Valider</button>
    </div>
</div>


<div id="updateProductModal" class="modal">
    <div class="modal-content">
        <h4>Edition</h4>
        <div class="input-field" >
            <div class="row">
                <i class="material-icons prefix">euro_symbol</i>
                <input ng-model="price" id="icon_editPrice" type="number" class="validate">
                <label for="icon_editPrice"></label>
            </div>
            <div class="row">
                <i class="material-icons prefix">block</i>
                <input ng-model="onSale" id="icon_EditOnSale" type="checkbox" checked="{{onSale}}" class="validate">
                <label for="icon_EditOnSale"></label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="saveProduct()" class=" modal-action modal-close waves-effect waves-green btn-flat" type="submit">Valider</button>
    </div>
</div>

