<header>
  <nav>
    <div class="nav-wrapper  red darken-4">
      <a href="#" class="brand-logo">
        <img src="app/pictures/favicon.png" height="62"></img>        
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div ui-view ></div>
</main>
<footer class="page-footer teal lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <a href="#"><h5 class="white-text">FAQ</h5></a>
        <p class="grey-text text-lighten-4">Consulter la foire aux questions pour des astuces sur l'organisation de votre voyage et les prises en charge. </p>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Remerciements</h5>
        <ul>
          <li><a class="grey-text text-lighten-3">Paulmier Alix, Porteuse de l'idée et du projet</a></li>
          <li><a class="grey-text text-lighten-3">Bunlon Steve, Chef de projet et développeur</a></li>
        </ul>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Partenaires</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Partenaire 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Partenaire 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Partenaire 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Partenaire 4</a></li>
        </ul>
      </div>      
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Erasmus2.0
      <a href="#" class="right white-text">Nous contacter</a>
    </div>
  </div>
</footer>